.main_img{
    height:500px;
    float:right;
}
.swiggy_logo{
    height:60px;
}

.feature-img{
    height:200px;
}
.img-play{
    padding:10px;
}

.left_img, .right_img{
    height:500px;
    position:absolute;
    right:500px;

}
.right_img{
    height:500px;
    position:absolute;
    right:150px;
    margin-top:35px;
}

