.first_div{
    display: flex;
    border-bottom: 1px solid gray;
}
.divv{
    /* background-color: white; */
    width:300px;
    margin:40px;
}
.footer_btn{
    width:250px;
    padding:85px 20px;
}
button{
    background:transparent;
    margin-top:20px;
    border:none;
}
button:hover{
 border:2px solid red;
    
}